<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="main-section">
        <div class=" main-nav d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="but-bar nav-link active" href="index.html" >Home</a>
              <a class="but-bar nav-link" href="upload.html">Upload</a>
              <a class="but-bar nav-link" href="search.html">Search</a>
              <a class="but-bar nav-link" href="setting.html">Settings</a>
              <a class="but-bar nav-link" href="cache.html">Cache</a>
            </div>
            <div class="tab-log tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <img class="img-home" src="images/1.jpg" alt="">
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="slide2">
                    <img class="img-slide2" src="images/1.jpg" alt="">
                    <div class="image-input">
                      <input type="file" accept="image/*" id="imageInput">
                      <label for="imageInput" class="image-button"><i class="far fa-image"></i> Choose image</label>
                    </div>
                    <input class="input-slide" type="text" value=" key">
                    <button class="but-slide btn">save</button>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="message-content w-100 mx-auto text-center">
                  <div class="form-group mb-3" style="position: relative;left:15%">
                    <input type="search" name="search" style="width: 70%;" class="search-input form-control">
                    <button class="btn btn-light btn-search-icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="form-group">
                  <img src="images/1.jpg" alt="image" style="width: 70%;" >
                </div>
                </div>
              </div>
              <div class="tab-pane fade" style="width: 500px !important;" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <table style="margin-left: 20%;" class="table tabel-borderd w-100 table-tab table table-hover">
                    <thead>
                      <tr>
                        <th scope="col-4" style="width: 70%;">photo</th>
                        <th scope="col-8">key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
    </section>
      







    <script src="js/jguery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myjs.js"></script>  
</body>
</html>