<!DOCTYPE html>
<head>
    <title>Very simple memcache</title>
</head>
<html>
    <body>

        <form action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data">
            <label>key:</label>
            <input type="text" name="fname" />
            <input type="file" name="file" />
            <input type="submit" value="upload" />
        </form>

        <form action="{{ url_for('get')}}" method="post"  enctype="multipart/form-data">
            
            <label>key:</label>
            <input type="text" name="fname" />
            <input type="submit" value="get" />
        </form>


    <body>    
</html>