<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="main-section">
        <div class=" main-nav d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="but-bar nav-link" href="index.html" >Home</a>
              <a class="but-bar nav-link" href="upload.html">Upload</a>
              <a class="but-bar nav-link " href="search.html">Search</a>
              <a class="but-bar nav-link active" href="setting.html">Settings</a>
              <a class="but-bar nav-link" href="cache.html">Cache</a>
            </div>
            <div class="tab-log tab-content" id="v-pills-tabContent">
          
              <div class="tab-pane fade show active" style="width: 500px !important;" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <table style="margin-left: 20%;" class="table tabel-borderd w-100 table-tab table table-hover">
                    <thead>
                      <tr>
                        <th scope="col-4" style="width: 70%;">photo</th>
                        <th scope="col-8">key</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img class="table-img" src="images/2.jpg" alt=""></td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td><img class="table-img" src="images/2.jpg" alt=""></td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td><img class="table-img" src="images/2.jpg" alt=""></td>
                        <td>the Bird</td>
                      </tr>
                      <tr>
                        <td><img class="table-img" src="images/2.jpg" alt=""></td>
                        <td>the Bird</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
    </section>
      







    <script src="js/jguery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myjs.js"></script>  
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image upload</title>
</head>
<body>
  <h1 style="color:blue;"> the Keys!</h1>
{% for imagelist in imagelist %}
<img src = "{{ url_for('static', filename=imagelist)}}">
{% endfor %}
</body>
</html>


<h3>{{numrows}}</h3>
<table class="table table-striped custab">
  <thead>
      <tr>
         
        
         <th>Fname</th>
      </tr>
  </thead>
  <tbody>
{% for row in imagee %}  
   <tr>
    

    <td>{{row.fname}}</td>
   </tr>
{% endfor %} 